NEXT_PUBLIC_API_URL="https://rebuildyourlife123.onrender.com/api/v1"
JWT_SECRET="REPLACE_WITH_64_CHAR_RANDOM_STRING"
DATABASE_URL="postgresql://postgres.maruupmdslovtfcoxdlu:REPLACE_WITH_REAL_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.maruupmdslovtfcoxdlu:REPLACE_WITH_REAL_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
